__pycache__/
*.pyc
*.pyo

build/
dist/
*.spec

*.log
*.wim
*.zip
*.db
*.db-shm
*.db-wal
data/
snapshot/
recovery/
test.*

.vscode/
*.workspace
*.code-workspace

Thumbs.db
desktop.ini

*.tmp
*.temp
*.bak

*.sys
*.cat
*.inf
*.pdb
*.exe
*.dll

*.obj
*.o
*.lib
*.exp
*.ilk
*.pch
*.idb
*.buildlog.txt

*.pfx
*.pvk
*.cer
*.sst
*.cat

Win7Debug/
Win7Release/
Win8Debug/
Win8Release/
Win10Debug/
Win10Release/
x64/
x86/
Debug/
Release/

*.vhd
*.vmdk
test/
vmware.log
*.nvram
*.vmsd
*.vmx.lck/

*.user
*.suo
.vs/